<%= stylesheet_link_tag 'feed' %>
<div class="container">
  <div class="left-sidebar"></div>
  <div class="main">
    <% @posts.each do |post|%>
      <%= render partial: "posts/post", locals: {post: post}%>
    <% end %>
  </div>
  <div class="right-sidebar"></div>
</div>
