.new_comment {
  display: flex;
  flex-direction: column;
  margin: 0px 0;
  margin-bottom: 20px;
}

.new_comment textarea {
  width: 100%;
  resize: none;
}

.new_comment input[type="submit"]{
  width: 100%;
  border: none;
  padding: 4px 0;
  background-color: #567274;
  color: #ffffff;
  transition: all 0.1s ease-in;
}

.new_comment input[type="submit"]:hover {
  background-color: #4a6163;
  cursor: pointer;
}

.edit-comment-form {
  display: none;
}

.comment {
  background: #3d5b6d;
  padding: 12px;
  color: #ffffff;
}

.comment:not(:last-child) {
  border-bottom: 2px solid #2b3c47;
}

.comment .created-at {
  font-size: 10px;
  color: rgba(255,255,255,0.6);
}

.comment p {
  margin: 0;
}

.comment a {
  font-size: 10px;
  margin-right: 7px;
}

.comments {
  width: 90%;
  margin: 0 auto;
}











