body {
  background-color: #b2c9ca;
  color: #ffffff;
}

a {
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.1s ease-in;
  display: block;
  margin: 0 auto;
  margin-bottom: -25px;
  font-size: 12px;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 13px;
  position: relative;
  z-index: 9999;
}

.login {
  background-color: #84b0b3;
  width: 350px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 22px;
  position: relative;
}

.login #cat-sil {
  position: absolute;
  height: 112%;
  left: -33%;
  top: -5%;
  z-index: 9;
  transition: all 0.5s ease-in;
}

.login:hover #cat-sil {
  height: 120%;
  left: -37%;
  top: -9%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field input[type="email"],
.field input[type="password"] {
  margin-bottom: 17px;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  padding-left: 7px;
  z-index: 9999;
}

.field input[type="email"]::-webkit-input-placeholder,
.field input[type="password"]::-webkit-input-placeholder {
  color: #838383;
  font-size: 11px;
  width: 70%;
}

.field input[type="submit"] {
  border: none;
  width: 70%;
  padding: 4px 0;
  margin-bottom: 17px;
  background-color: #567274;
  color: #ffffff;
  transition: all 0.1s ease-in;
  z-index: 9999;
}

.field input[type="submit"]:hover {
  background-color: #4a6163;
  cursor: pointer;
}

.rememberme {
  flex-direction: row;
  justify-content: center;
}

.rememberme input[type="checkbox"]{
  margin-top: -7px;
  margin-right: 15px;
  z-index: 9999;
}


#logo {
  position: fixed;
  left: 35px;
  top: 15px;
  margin: 0;
  height: 40px;
}

.alert, .notice {
  text-align: center;
}

