<nav class="header">
  <img src="/assets/images/cat-sil-white.png" id="cat-sil"/>
  <% if current_user %>
    <%= link_to 'Profile', user_path(current_user) %>
    <%= link_to 'Favorites', favorited_path %>    
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
  <% end %>    
  <%= link_to root_path do %>
    <img src="/assets/images/logo.png" id="logo"/>
  <% end %>
</nav>
